@page
@model Projet_ASI.Pages.Medecins.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modification des informations du médecin</h1>
<hr />
<div class="row" style="justify-content: center;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medecin.Id" />
            <div class="form-group">
                <label asp-for="Medecin.Prenom" class="control-label"></label>
                <input asp-for="Medecin.Prenom" class="form-control" />
                <span asp-validation-for="Medecin.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Nom" class="control-label"></label>
                <input asp-for="Medecin.Nom" class="form-control" />
                <span asp-validation-for="Medecin.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Naissance" class="control-label"></label>
                <input asp-for="Medecin.Naissance" class="form-control" />
                <span asp-validation-for="Medecin.Naissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Telephone" class="control-label"></label>
                <input asp-for="Medecin.Telephone" class="form-control" />
                <span asp-validation-for="Medecin.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Adresse" class="control-label"></label>
                <input asp-for="Medecin.Adresse" class="form-control" />
                <span asp-validation-for="Medecin.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.CodePostal" class="control-label"></label>
                <input asp-for="Medecin.CodePostal" class="form-control" />
                <span asp-validation-for="Medecin.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.RPPS" class="control-label"></label>
                <input asp-for="Medecin.RPPS" class="form-control" />
                <span asp-validation-for="Medecin.RPPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Civilite" class="control-label"></label>
                <select asp-for="Medecin.Civilite" class="form-control">
                    @foreach (Models.Medecin.Civility civility in Enum.GetValues(typeof(Models.Medecin.Civility)))
                    {
                        <option value="@civility">@civility.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Medecin.Civilite" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding: 1rem;display: flex; justify-content: space-evenly;">
                <button type="button" class="btn btn-primary" style="background-color: #929292;" onclick="location.href='@Url.Page("Index")'">
                    Retour
                </button>
                <input type="submit" value="Modifier" class="btn btn-primary" style="background-color: #7AC279;" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
