@page
@model Projet_ASI.Pages.Medecins.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edition</h1>

<h4>Medecin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Medecin.Id" />
            <div class="form-group">
                <label asp-for="Medecin.Prenom" class="control-label"></label>
                <input asp-for="Medecin.Prenom" class="form-control" />
                <span asp-validation-for="Medecin.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Nom" class="control-label"></label>
                <input asp-for="Medecin.Nom" class="form-control" />
                <span asp-validation-for="Medecin.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Naissance" class="control-label"></label>
                <input asp-for="Medecin.Naissance" class="form-control" />
                <span asp-validation-for="Medecin.Naissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Telephone" class="control-label"></label>
                <input asp-for="Medecin.Telephone" class="form-control" />
                <span asp-validation-for="Medecin.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Adresse" class="control-label"></label>
                <input asp-for="Medecin.Adresse" class="form-control" />
                <span asp-validation-for="Medecin.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.CodePostal" class="control-label"></label>
                <input asp-for="Medecin.CodePostal" class="form-control" />
                <span asp-validation-for="Medecin.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.RPPS" class="control-label"></label>
                <input asp-for="Medecin.RPPS" class="form-control" />
                <span asp-validation-for="Medecin.RPPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medecin.Civilite" class="control-label"></label>
                <select asp-for="Medecin.Civilite" class="form-control">
                    @foreach (Models.Medecin.Civility civility in Enum.GetValues(typeof(Models.Medecin.Civility)))
                    {
                        <option value="@civility">@civility.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Medecin.Civilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
