@page
@model Projet_ASI.Pages.GestionPatients.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editer</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Patient.Id" />
            <div class="form-group">
                <label asp-for="Patient.Prenom" class="control-label"></label>
                <input asp-for="Patient.Prenom" class="form-control" />
                <span asp-validation-for="Patient.Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Nom" class="control-label"></label>
                <input asp-for="Patient.Nom" class="form-control" />
                <span asp-validation-for="Patient.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Naissance" class="control-label"></label>
                <input asp-for="Patient.Naissance" class="form-control" />
                <span asp-validation-for="Patient.Naissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Email" class="control-label"></label>
                <input asp-for="Patient.Email" class="form-control" />
                <span asp-validation-for="Patient.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Adresse" class="control-label"></label>
                <input asp-for="Patient.Adresse" class="form-control" />
                <span asp-validation-for="Patient.Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Telephone" class="control-label"></label>
                <input asp-for="Patient.Telephone" class="form-control" />
                <span asp-validation-for="Patient.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.CodePostal" class="control-label"></label>
                <input asp-for="Patient.CodePostal" class="form-control" />
                <span asp-validation-for="Patient.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.NumSecu" class="control-label"></label>
                <input asp-for="Patient.NumSecu" class="form-control" />
                <span asp-validation-for="Patient.NumSecu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Civilite" class="control-label"></label>
                <select asp-for="Patient.Civilite" class="form-control">
                    @foreach (Projet_ASI.Models.Patient.Civility civility in Enum.GetValues(typeof(Projet_ASI.Models.Patient.Civility)))
                    {
                        <option value="@civility">@civility.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Patient.Civilite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.MedecinId" class="control-label"></label>
                <select asp-for="Patient.MedecinId" class="form-control" asp-items="ViewBag.MedecinId"></select>
                <span asp-validation-for="Patient.MedecinId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
